.itemListContainer {
    display: flex;
    flex-direction: column;   
    width: 100vw;
    background-color: #eaf5bff5; 
    color:#1a4621; 
    align-items: start; 
    padding: 20px 50px !important;   
}

.itemListContainer h1{
   font-size: 1.5rem !important;
   margin-bottom: 20px;
}

.list {
    display: flex;
    font-size: 1.5em;
}
  